<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(heroName.value); heroName.value = ''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
  </li>
</ul>

<!-- 
  The *ngFor is Angular's repeater directive. 
  It repeats the host element for each element in a list. 
  In other words, it is similar to React element.map() in JSX. 
-->

<!-- 
  (click)="onSelect(hero)" is an example of Angular's event binding syntax.abs
  When the <li> is clicked, Angular executes the onSelect(hero) expression.
-->

<!-- 
    [(ngModel)] is Angular's two-way data binding syntax. 
-->
